# Dependencies
node_modules/

# Vite build output
dist/

# Optional cache directory
.vite/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Editor folders and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# ESLint cache
.eslintcache
